/* .btn-primary { 
    background-color: darkgreen;
    border-color: chartreuse;
}

.btn-outline-primary { 
    background-color: darkgreen;
    border-color: darkgreen;
}

btn-outline-primary me-2
.btn-primary:hover {
    background-color: darkgreen;
    border-color: darkolivegreen;
}

/* .nav-link {
    background-color: darkgreen;

}  */