{% extends 'base.html' %}
{% block content %}

  <h1 class="container"> Hi {{ current_user.username }} 👋🏿</h1>
  <br>
  <h2>Reporting Period </h2>

  <div class="container">
    <label>From: </label>
      <div id="datepicker1" class="input-group date" data-date-format="mm-dd-yyyy"> 
        <input class="form-control" type="text" readonly /> 
        <span class="input-group-addon">  
          <i class="bi-calendar-event-fill" style="font-size: 2rem; color: green;"></i>
        </span>
      </div> 
      <label>To: </label>
      <div id="datepicker2" class="input-group date" data-date-format="mm-dd-yyyy"> 
        <input class="form-control" type="text" readonly /> 
        <span class="input-group-addon"> 
          <i class="bi-calendar-event-fill" style="font-size: 2rem; color: green;"></i> 
        </span>
      </div>
  </div>

  <h2 class="text-center">Transportation Consumption Form</h2>
  <div class="container">
    <form> 
      <div class="form-group row" id="motorVehicle">    
        <div class="col">   
          <label for="car_diesel">Motor Vehicle (litres)</label>
          <input type="text" class="form-control" id="motor_vehicle" name="motor_vehicle" >
        </div>
        <div class="col">
          <label for="fuelType">Select Fuel Type:</label>
          <select id="vehicleFuelType" class="form-select" aria-label="Default select example">
            <option selected value="petrol">Petrol</option>
            <option value="diesel">Diesel</option>
          </select>
        </div>
        <div class="col">
          <label for="fuel_price">Total Cost (Naira)</label>
          <input type="text" class="form-control" id="motor_price" name="motor_price">
        </div>
      </div>
      <button type="button" onclick="addInput('motorVehicle')">Add More Motor Vehicles</button>
      <div class="form-group row" id="motorbike">
        <div class="col">
          <label for="motorbike">Motorbike (litres)</label>
          <input type="text" class="form-control" id="motorbike_value" name="motorbike">
        </div>
        <div class="col">
          <label for="fuelType">Select Fuel Type:</label>
          <select id="motorbikeFuelType" class="form-select" aria-label="Default select example">
            <option selected value="petrol">Petrol</option>
            <option value="diesel">Diesel</option>
          </select>
        </div>
        <div class="col">
          <label for="motorbike_price">Total Cost (Naira)</label>
          <input type="text" class="form-control" id="motorbike_price" name="motorbike_price">
        </div>
      </div>
      <button type="button" onclick="addInput('motorbike')">Add More Motorbikes</button>
      <div class="form-group row" id="tricycle">
        <div class="col">
          <label for="tricycle">Tricycle (litres)</label>
          <input type="text" class="form-control" id="tricycle_value" name="tricycle">
        </div>
        <div class="col">
          <label for="fuelType">Select Fuel Type:</label>
          <select id="tricycleFuelType" class="form-select" aria-label="Default select example">
            <option selected value="petrol">Petrol</option>
            <option value="diesel">Diesel</option>
          </select>
        </div>
        <div class="col">
          <label for="tricycle_price">Total Cost (Naira)</label>
          <input type="text" class="form-control" id="tricycle_price" name="tricycle_price">
        </div>
      </div>
      <button type="button" onclick="addInput('tricycle')">Add More Tricycle</button>
      <div class="form-group row" id="flightDomestic">
        <div class="col">
          <label for="flight_domestic">Flight (Domestic) (Km Travelled)</label>
          <input type="text" class="form-control" id="flightDomestic_value" name="flight_domestic">
        </div>
        <div class="col">
          <label for="flight_domestic_price">Total Cost (Naira)</label>
          <input type="text" class="form-control" id="flight_domestic_price" name="flight_domestic_price">
        </div>
      </div>
      <div class="form-group row" id="flightInternational">
        <div class="col">
          <label for="flight_international">Flight (International) (Km Travelled)</label>
          <input type="text" class="form-control" id="flightInternational_value" name="flight_international">
        </div>
        <div class="col">
          <label for="flight_international_price">Total Cost (Naira)</label>
          <input type="text" class="form-control" id="flight_international_price" name="flight_international_price">
        </div>
      </div>


      <!-- this is the beginning of the merge -->
      <h2 class="text-center">Enerygy Consumption form </h2>
      <div class="form-group row" id="electricity">
        <div class="col">
          <label for="electricity">Electricity (kWh)</label>
          <input type="text" class="form-control" id="electricity_value" name="electricity">
        </div>
        <div class="col">
          <label for="electricity_price">Total Cost (Naira)</label>
          <input type="text" class="form-control" id="electricity_price" name="electricity_price">
        </div>
      </div>
      <div class="form-group row" id="generator">
        <div class="col">
          <label for="generator">Generator (litres)</label>
          <input type="text" class="form-control" id="generator_value" name="generator">
        </div>
        <div class="col">
          <label for="fuelType">Select Fuel Type:</label>
          <select id="generatorFuelType" class="form-select" aria-label="Default select example">
            <option selected value="petrol">Petrol</option>
            <option value="diesel">Diesel</option>
          </select>
        </div>
        <div class="col">
          <label for="fuel_price">Total Cost (Naira)</label>
          <input type="text" class="form-control" id="generator_price" name="generator_price">
        </div>
      </div>
      <button type="button" onclick="addInput('generator')">Add More Generators</button>
      <div class="form-group row" id="lpg">
        <div class="col">
          <label for="lpg">LPG (cooking gas) (litres)</label>
          <input type="text" class="form-control" id="lpg_value" name="lpg">
        </div>
        <div class="col">
          <label for="lpg_price">Total Cost (Naira)</label>
          <input type="text" class="form-control" id="lpg_price" name="lpg_price">
        </div>
      </div>
      <div class="form-group row" id="firewood">
        <div class="col">
          <label for="coal">Coal (firewood) (tonnes)</label>
          <input type="text" class="form-control" id="firewood_value" name="coal">
        </div>
        <div class="col">
          <label for="coal_price">Total Cost (Naira)</label>
          <input type="text" class="form-control" id="firewood_price" name="coal_price">
        </div>
      </div>

      <button type="submit" class="btn custom-primary-btn" onclick="submitForm(event)">Calculate</button>
    </form>
  </div>



  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script> 

  <script>

var counter = 0; 

function addInput(containerId) {
    counter++;
    var newContainerId = containerId + '_' + counter;

    var container = document.getElementById(containerId);
    var newContainer = container.cloneNode(true);

    newContainer.id = newContainerId;
    newContainer.querySelectorAll('input, select').forEach(input => {
        input.id = input.id + '_' + counter;
        input.value = ''; 
    });
    container.parentNode.insertBefore(newContainer, container.nextSibling);
}


async function submitForm(event) {
    try {
        event.preventDefault();

        var formData = {
            motorVehicle: [],
            motorbike: [],
            tricycle: [],
            flightDomestic: [],
            flightInternational: [],
            electricity: [],
            generator: [],
            lpg: [],
            firewood: []
        };

        var formFields = ['motorVehicle', 'motorbike', 'tricycle', 'flightDomestic', 'flightInternational', 'electricity', 'generator', 'lpg', 'firewood'];
        
        formFields.forEach(field => {
            var normalContainers = document.querySelectorAll('#' + field);
            var dynamicContainers = [];
            for (var i = 1; i <= counter; i++) {
                var container = document.getElementById(field + '_' + i);
                if (container) {
                    dynamicContainers.push(container);
                }
            }
            var allContainers = [...normalContainers, ...dynamicContainers];


            allContainers.forEach(container => {
                var inputs = serializeInputs(container.id);
                formData[field].push(...inputs);
            });
        });

        var jsonData = JSON.stringify(formData);
        console.log(formData)

        const response = await fetch('/submit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        });

        if (!response.ok) {
            throw new Error('Failed to send data to server');
        }
    } catch (error) {
        console.error('Error:', error);
    }
}

function serializeInputs(containerId) {
    var container = document.getElementById(containerId);
    var inputs = container.querySelectorAll('input, select');
    var values = [];

    inputs.forEach(input => {
        var inputValues = {
            id: input.id,
            value: input.value
        };
        values.push(inputValues);
    });

    return values;
}

$(function () { 
    $("#datepicker1").datepicker({  
        autoclose: true,  
        todayHighlight: true, 
        todayBtn : "linked",  
    }).datepicker('update', new Date()); 
}); 

$(function () { 
    $("#datepicker2").datepicker({  
        autoclose: true,  
        todayHighlight: true, 
        todayBtn : "linked",  
    }).datepicker('update', new Date()); 
});

  </script>
{% endblock content %}