{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Calculate Your Carbon Footprint</h1>
            </div>
            <div class="col-6">
                <img src="{{ url_for('static', filename='images/co2-off-and-on-switch.jpg')}}" class="img-fluid" alt="co2-off-and-on-switch" width="auto" height="auto">
                <div>
                    <p><strong> Use our Interactive Calculator to learn your carbon footprint and actions to take to reduce it.</strong></p>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="{{ url_for('static', filename='images/carbon-smoke-chimney.jpg')}}" class="img-fluid" alt="co2-off-and-on-switch" width="auto" height="auto">
            </div>
            <div class="col-6">
                <h2>What is a carbon footprint ? </h2>
                <p>A carbon footprint measures the total greenhouse gases, including carbon dioxide and methane, that are emitted by our actions. For Nigerian businesses, managing this footprint is crucial not only for the environment but also for compliance with global standards and operational efficiency. <br>

                    <br>
                    Nigeria, as a signatory to the Paris Agreement, is committed to reducing greenhouse gas emissions. Businesses play a vital role in achieving these targets by adopting sustainable practices such as optimizing energy use, leveraging renewable energy, and improving waste management. <br>    
                    <br>     
                    This web application empowers your business to calculate, manage, and reduce its carbon emissions effectively. Start making impactful changes today and contribute to a sustainable future, enhancing your operational efficiency and aligning with global environmental goals. 
                    </p>
            </div>
        </div>
    </div>

{% endblock content %}

