{% extends 'base.html' %}
{% block content%} 
    <h1><strong> Carbon Reduction Strategies for Your Business </strong></h1>
    <br>

    <div id="result">
        <h3> Solar Energy Installation </h3>
        <ul>
            <li><strong> Action </strong> - Install photovoltaic panels to harness solar energy, reducing reliance on the electrical grid and diesel generators.</li>
            <li><strong> Tip </strong> - Evaluate your premises for solar potential and explore financing options like solar leasing.</li>
        </ul>

    </div>

    <div id="result2">
        <h3> Upgrade to High-Efficiency Equipment </h3>
        <ul>
            <li><strong> Action </strong> - Replace old machinery, appliances, and lighting with high-efficiency models. </li> 
            <li><strong> Tip  </strong> - Prioritise upgrades based on energy consumption rates and available rebates.</li>
        </ul>

    </div>

    <div id="result">
        <h3> Smart Energy Management Systems </h3> 
        <ul>
            <li><strong> Action </strong> - Use smart meters and energy management systems to monitor and control energy use actively.</li> 
            <li><strong> Tip </strong> - Set alerts for unusual energy usage patterns to quickly identify and rectify inefficiencies.</li>
        </ul>
    </div>

    <div id="result2">
        <h3> Green Building Certification </h3> 
        <ul>
            <li><strong> Action </strong> - Aim for green certifications such as Green Star by implementing sustainable building practices.</li> 
            <li><strong> Tip </strong> - Incorporate natural lighting, efficient insulation, and environmentally friendly materials.</li>
        </ul>
    </div>

    <div id="result">
        <h3> Hybrid Generators </h3>  
        <ul>
            <li><strong> Action </strong> - Transition from traditional diesel generators to hybrid solar-diesel generators to optimize energy use and reduce emissions.</li> 
            <li><strong> Tip </strong> - Assess your energy needs and integrate solar power to complement diesel usage during peak hours.</p>
        </ul>
    </div>

    <div id="result2">
        <h3> Optimised Logistics </h3>
        <ul>
            <li><strong> Action </strong> - Streamline supply chain operations to reduce transportation-related emissions.</li> 
            <li><strong> Tip </strong> - Consolidate shipments and choose local suppliers to minimise travel distances.</li>
        </ul>
    </div>

    <div id="result">
        <h3> Monitor and Adjust </h3> 
        <ul>
            <li><strong> Action </strong> - Regularly use this tool to track your carbon footprint and assess the effectiveness of your implemented strategies.</li> 
            <li><strong> Tip </strong> - Adjust strategies based on data to continually improve your environmental performance.</li>
        </ul>
    </div>

    <div id="result2">
        <h3> Participate in Certified Carbon Offset Programs </h3>
        <ul>
            <li><strong> Action </strong> - Support certified projects that offset emissions through activities like reforestation or renewable energy investments.</li> 
            <li><strong> Tip </strong> - Select projects that align with your business values and have a demonstrable impact on the environment.</li>
        </ul>
    </div>

{% endblock content%}

