{% extends 'base.html' %}
{% block content%} 
    <h1><strong> Carbon Reduction Strategies for Your Business </strong></h1>
    <br>

    <div id="result">
        <h3> Optimise Fleet Routes </h3>
        <ul>
            <li><strong> Action </strong> - Use advanced GPS and route optimisation software to reduce drive times and fuel consumption.</li>
            <li><strong> Tip </strong> - Regularly update routes based on traffic patterns and delivery schedules.</li>
        </ul>

    </div>

    <div id="result2">
        <h3> Expand Electric and Hybrid Fleet </h3>
        <ul>
            <li><strong> Action </strong> - Transition to electric or hybrid vehicles for significant reductions in emissions.</li> 
            <li><strong> Tip  </strong> - Start with replacing vehicles that are due for renewal and apply for government grants if available.</li>
        </ul>

    </div>

    <div id="result">
        <h3> Adopt Electric Bikes and Tricycles </h3> 
        <ul>
            <li><strong> Action </strong> - Switch to electric bikes and tricycles for short-distance travel, reducing fuel costs and emissions.</li> 
            <li><strong> Tip </strong> - Evaluate your operation's mobility needs and pilot electric bikes in suitable areas.</li>
        </ul>
    </div>

    <div id="result2">
        <h3> Promote Eco-Driving Practices </h3> 
        <ul>
            <li><strong> Action </strong> - Train drivers in techniques such as smooth acceleration and braking, regular tire checks, and optimal speed maintenance to enhance fuel efficiency.</li> 
            <li><strong> Tip </strong> -  Hold monthly workshops and provide incentives for the most improved drivers.</li>
        </ul>
    </div>

    <div id="result">
        <h3> Implement a Telecommuting Policy </h3>  
        <ul>
            <li><strong> Action </strong> - Reduce the need for commuting by allowing employees to work from home where possible.</li> 
            <li><strong> Tip </strong> - Start with a few days per month and adjust based on productivity metrics.</p>
        </ul>
    </div>

    <div id="result2">
        <h3> Energy-Efficient Offices  </h3>
        <ul>
            <li><strong> Action </strong> - Retrofit office spaces with energy-efficient lighting and Heating, Ventilation Airconditioning systems to reduce energy consumption.</li> 
            <li><strong> Tip </strong> - Conduct an energy audit to identify key areas for improvement.</li>
        </ul>
    </div>

    <div id="result">
        <h3> Monitor and Adjust </h3> 
        <ul>
            <li><strong> Action </strong> - Regularly use this tool to track your carbon footprint and assess the effectiveness of your implemented strategies.</li> 
            <li><strong> Tip </strong> - Adjust strategies based on data to continually improve your environmental performance.</li>
        </ul>
    </div>

    <div id="result2">
        <h3> Participate in Certified Carbon Offset Programs </h3>
        <ul>
            <li><strong> Action </strong> - Support certified projects that offset emissions through activities like reforestation or renewable energy investments.</li> 
            <li><strong> Tip </strong> - Select projects that align with your business values and have a demonstrable impact on the environment.</li>
        </ul>
    </div>

{% endblock content%}

